In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score, mean_squared_error
%matplotlib inline

This dataset contains data of total production of different types of foods in per year in each country from 1961-2023 of all country.

In [2]:
df = pd.read_csv("C:/Users/victus/Documents/data.project/week-7/world food production.csv")

In [3]:
df.head()

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.0,7467702.0,2279000.0,1873812.0,56315.0,3270871.0,12000.0,...,10100.0,232910.0,1131882.0,225000.0,870970.0,835368.0,5600.0,3139079.0,63439.0,15100.0
1,Afghanistan,1962,700000.0,319000.0,7420515.0,2279000.0,2044797.0,61519.0,3562524.0,12800.0,...,10100.0,259412.0,1111006.0,225000.0,883512.0,867170.0,6000.0,3181580.0,65118.0,15100.0
2,Afghanistan,1963,713000.0,319000.0,8479074.0,1947000.0,2096077.0,63596.0,3409916.0,12800.0,...,10100.0,251529.0,1145004.0,225000.0,996674.0,922621.0,6160.0,3304256.0,61760.0,15100.0
3,Afghanistan,1964,720000.0,380000.0,9113779.0,2230000.0,2388264.0,66604.0,3229336.0,12800.0,...,12400.0,247556.0,1160831.0,265000.0,1162048.0,1190061.0,6400.0,3392527.0,62759.0,18400.0
4,Afghanistan,1965,720000.0,380000.0,10067913.0,2282000.0,2559608.0,72418.0,3169104.0,13200.0,...,13700.0,266947.0,1138860.0,287000.0,1075084.0,874245.0,6800.0,3450849.0,66269.0,20400.0

In [4]:
top_countries = df['Entity'].unique()[:10]

# Son 10 yÄ±lÄ± seÃ§in
last_10_years = df['Year'].unique()[-10:]

# Ä°lk on Ã¼lkenin son 10 yÄ±la ait sonuÃ§larÄ±nÄ± gÃ¶ster
result_df = df[(df['Entity'].isin(top_countries)) & (df['Year'].isin(last_10_years))]

print(result_df)

          Entity  Year  Maize Production (tonnes)  Rice  Production ( tonnes)  \
51   Afghanistan  2012                   310000.0                    500000.0
52   Afghanistan  2013                   312000.0                    512094.0
53   Afghanistan  2014                   316000.0                    537000.0
54   Afghanistan  2015                   316000.0                    410000.0
55   Afghanistan  2016                   311646.0                    356565.0
..           ...   ...                        ...                         ...
569      Armenia  2017                    10413.0                 659753660.0
570      Armenia  2018                     7615.0                 673591500.0
571      Armenia  2019                     4758.0                 681251460.0
572      Armenia  2020                     6466.8                 678217100.0
573      Armenia  2021                     6000.0                 690560200.0

     Yams  Production (tonnes)  Wheat Production (tonnes)  \
51                 50960730.00                  5050000.0
52                 54495948.00                  5169235.0
53                 63483812.00                  5370259.0
54                 64042076.00                  4673040.0
55                 69819370.00                  4555110.0
..                         ...                        ...
569                  246839.55                307132450.0
570                  246875.95                315417440.0
571                  246524.56                320513570.0
572                  246000.00                320208260.0
573                  245000.00                328610800.0

     Tomatoes Production (tonnes)  Tea  Production ( tonnes )  \
51                     18997632.0                    214481.0
52                     18885094.0                    225590.0
53                     21990446.0                    235080.0
54                     22125730.0                    270108.0
55                     20242410.0                    260373.0
..                            ...                         ...
569                    95748904.0                     39720.0
570                    98927410.0                     44081.0
571                   101672600.0                     48222.0
572                   102721210.0                     47757.0
573                   107023300.0                     48565.0

     Sweet potatoes  Production (tonnes)  Sunflower seed  Production (tonnes)  \
51                            18782686.0                               250.00
52                            21018778.0                               560.00
53                            25240184.0                               393.00
54                            24684456.0                               303.10
55                            26021218.0                               652.79
..                                   ...                                  ...
569                                330.0                           5980595.50
570                                340.0                           6815421.00
571                                350.0                           6077004.00
572                                350.0                           6139622.50
573                                360.0                           6416873.50

     ...  Oranges  Production (tonnes)  Peas, dry Production ( tonnes)  \
51   ...                       6000.00                       648166.06
52   ...                       6320.00                       741055.30
53   ...                       6930.00                       625740.25
54   ...                       4926.00                       593297.25
55   ...                       5281.79                       562898.06
..   ...                           ...                             ...
569  ...                     424494.00                        14580.88
570  ...                     376317.00                        17602.58
571  ...                     409995.00                        17436.36
572  ...                     391841.00                        18727.74
573  ...                     444953.00                        19155.46

     Palm oil  Production (tonnes)  Grapes  Production (tonnes)  \
51                      2365113.00                     590065.0
52                      2366018.00                     610570.0
53                      2868171.20                     744847.0
54                      3068635.00                     805072.0
55                      2703169.20                     874541.0
..                             ...                          ...
569                       38025.53                   23538456.0
570                       43670.02                   24944874.0
571                       48234.10                   25617782.0
572                       53035.97                   26811528.0
573                       84000.00                   26026700.0

     Coffee, green Production ( tonnes)  Cocoa beans Production (tonnes)  \
51                            975107.44                        3131100.0
52                           1104529.00                        3017063.2
53                           1086611.50                        3213111.8
54                           1153374.10                        3376036.8
55                           1192023.10                        3179540.8
..                                  ...                              ...
569                          2700540.00                         208620.0
570                          3037534.00                         212270.0
571                          2964538.00                         201651.0
572                          2804070.00                         202030.0
573                          2647504.00                         218487.0

     Meat, chicken  Production (tonnes)  Bananas  Production ( tonnes)  \
51                             24800.00                    17770070.00
52                             26400.00                    20125252.00
53                             24809.32                    18712928.00
54                             24558.74                    18674434.00
55                             24297.68                    18430088.00
..                                  ...                            ...
569                             8300.00                      354241.00
570                             8200.00                      412972.38
571                             8800.00                      373931.00
572                             9500.00                      310160.00
573                             9700.00                      372432.66

     Avocados Production (tonnes)  Apples Production (tonnes)
51                      566996.56                     70000.0
52                      541373.25                     78597.0
53                      737862.70                     89403.0
54                      654604.30                     89733.0
55                      696774.20                    140903.0
..                            ...                         ...
569                       6230.00                  51812136.0
570                       6230.00                  53036480.0
571                       7500.00                  53953464.0
572                       7600.00                  51820264.0
573                       7610.00                  54385096.0

[100 rows x 24 columns]

In [5]:
df["Maize Production (tonnes)"].value_counts()

Maize Production (tonnes)
0.0           99
2000.0        61
3000.0        47
4000.0        41
5000.0        28
              ..
9145800.0      1
10400200.0     1
10525000.0     1
10493000.0     1
1469664.0      1
Name: count, Length: 9789, dtype: int64